<div class="add-product">

    <a class="add-item-button" (click)="showFormProduct = !showFormProduct">
      <span *ngIf="!showFormProduct" [ngStyle]="{'position':'absolute'}" > הוסף מוצר באופן ידני</span>
      <span *ngIf="showFormProduct" [ngStyle]="{'position':'absolute'}" >  הוסף מוצר באופן ידני</span>
      <mat-icon class="matIcon" [ngStyle]="{'margin-right':'150px'}" *ngIf="!showFormProduct">expand_more</mat-icon>
      <mat-icon *ngIf="showFormProduct" [ngStyle]="{'margin-right':'150px'}">expand_less</mat-icon>
    </a>

    <div *ngIf="showFormProduct" class="item-form">
      <div class="row">
        <div class="col-4">
          <div class="py-3">
            <div class="row">
              <input matInput type="text" placeholder="שם מוצר" class="calc-input" [(ngModel)]="newItem.Name">
            </div>
            <div class="row px-2">
              <span class="short-intro">אנא הזינו שם מוצר, דוגמא “לחם”</span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="py-3">
            <div class="row">
              <input matInput type="number" placeholder="גרם" class="calc-input" inputmode="numeric" [(ngModel)]="quantity">
            </div>
            <div class="row px-2">
              <span class="short-intro">אנא הזינו גרמים, דוגמא “100”</span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="py-3">
            <div class="row">
              <input matInput type="number" placeholder="חלבונים" class="calc-input" inputmode="numeric" [(ngModel)]="newItem.Proteins">
            </div>
            <div class="row px-2">
              <span class="short-intro">אנא הזינו את כמות החלבון, דוגמא “100”</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="py-3">
            <div class="row">
              <input matInput type="number" placeholder="פחמימות" class="calc-input" inputmode="numeric" [(ngModel)]="newItem.Carbohydrates">
            </div>
            <div class="row px-2">
              <span class="short-intro">אנא הזינו פחמימות, דוגמא “100”</span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="py-3">
            <div class="row">
              <input matInput type="number" placeholder="סיבים" class="calc-input" inputmode="numeric" [(ngModel)]="newItem.DietaryFiber">
            </div>
            <div class="row px-2">
              <span class="short-intro">אנא הזינו סיבים, דוגמא “100”</span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="py-3">
            <div class="row">
              <input matInput type="number" placeholder="שומנים" class="calc-input" inputmode="numeric" [(ngModel)]="newItem.Fats">
            </div>
            <div class="row px-2">
              <span class="short-intro">אנא הזינו שומנים, דוגמא “100”</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="py-3">
            <div class="row">
              <input matInput type="number" placeholder="שומן רווי" class="calc-input" inputmode="numeric" [(ngModel)]="newItem.SaturatedFattyAcids">
            </div>
            <div class="row px-2">
              <span class="short-intro">אנא הזינו שומן רווי, דוגמא “100”</span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="py-3">
            <div class="row">
              <input matInput type="number" placeholder="סוכרים" class="calc-input" inputmode="numeric" [(ngModel)]="newItem.Dessert">
            </div>
            <div class="row px-2">
              <span class="short-intro">אנא הזינו סוכרים, דוגמא “100”</span>
            </div>
          </div>
        </div>
        <div class="col-4 px-4">
          <div class="py-3">
            <div class="row px-5">
              <button *ngIf="showFormProduct" class="add-button" (click)="addItem()" mat-raised-button color="primary">
                <span> הוסף לטבלה </span>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>

</div>
